.image-viewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.overlay-controls {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10000;
}

.close-btn {
  color: #fff !important;
  border-radius: 50%;
}

.zoom-buttons {
  display: flex;
  gap: 10px;
}
.zoom-buttons button{
  color: #fff !important;

}

.image-wrapper {
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-wrapper img{
    max-width: 80%;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: transform 0.2s ease;
  object-fit: contain;
}


img{
    user-select: none !important;
    
}