* {
  transition: background 0.2s;
}

body{
  color: var(--text);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  max-height: 82px;
}

.logo-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo-container img,
#logo {
  width: 54px;
  height: 54px;
  object-fit: cover;
  display: block;
}

#logo {
  margin: auto;
  margin-bottom: 12px;
}

.logo-container h2 {
  font-size: 28px;
}

header a {
  padding: 12px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

a:not(header a) {
  margin-top: 12px;
  display: block;
}

.text-light {
  color: #e1e1e1 !important;
}

.navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;

}

.setting-container {
  width: 100vw;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 185, 84, 0.5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(29, 185, 84, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 185, 84, 0);
  }
}

::-webkit-scrollbar {
  display: none;
}

.main-container{
    display: flex;
    flex-direction: column;
}

@media (max-width:992px) {

  .chat-contents{
    width: 100% !important;
  }

  .sidebar{
    display: none !important
  }
}


.defaultSide{
  width: 30% !important;
}

.sad-msg{
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-top: 90px;
  color: darkgray;
}

.img-file-shower{
  position: absolute;
  bottom: 115px;
  left: 40px;
  width: fit-content;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;
}

.img-file-shower img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.cancelImgFile{
  position: absolute !important;
  right: 0;
}

.img-msg{
  object-fit: cover;
  width: 250px;
  height: 250px;
}